################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Loreganizer/.vs
/Loreganizer/obj
/Loreganizer/Loreganizer/obj
/Loreganizer/Loreganizer/bin/Debug/net6.0-windows
